*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#f5f8ff;
    font-family:'Inter';
}
.container{
    width:100%;
    max-width:1140px;
    margin: 0 auto;
    padding:0 20px;
}
/* common color */
.color-orange{
    color:#E95A08;
    
}
/* navigation bar styles start */
.nav-items{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:30px;
}
.nav-left img{
    width: 135px;
    height: 85px;

}
.nav-right ul{
    display:flex;
    gap:48px;
    list-style:none;
}
/* .nav-right ul li{
    align-items:center;
} */
.nav-right a{
    text-decoration:none;
    font-weight:bold;
    font-size:24px;
    color:#252432;
}
.nav-right .col-hide {
    font-size:24px;
    font-weight:normal;
    color:#8987A1;
}

.nav-right .col-active:hover, .col-hide:hover {
    color:#E95A08;
}

.nav-right .col-hide:hover {
    font-weight:bold;
    font-size:24px;
    color:#E95A08;
    cursor:pointer;
}

/* navigation bar styles start */
.hero-section{
    display:flex;
    justify-content:space-between;
    align-items:end;
    margin-top:50px;
}
.hero-left{

}
.hero-section .hero-left .hero-title{
    
    font-weight:600;
    font-size:65px;

}

.hero-description{
    font-size:22px;
    font-weight:400;
    color:rgba(0, 0, 0, 0.50);
    line-height:27px;
    
}
.hero-right{

}
.hero-image img{
    width:570px;
    height:355px;

}

/* hero section styles end */
.our-plants-section{
    margin-top:50px;

}
.our-plants-section-intro{
    width:1140px;


}

.our-plants-section-title{
    width:1140px;
    font-weight:bold;
    font-size:50px;
    text-align:center;

}
.our-plants-section-description{
    width:888px;
    font-weight:normal;
    font-size:20px;
    text-align:center;  
    margin:16px  auto; 
    color:rgba(0, 0, 0, 0.5);
}

/* flower plants card style start */
.our-plants-card-section{
    /* background-color:red;
     */
      display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:30px 20px;
}
.card{
    
    width:270px;
    height:fit-content;
   



}
.card h3, h4{
    text-align:center;
}
.add2card{
    width:100%;
    height:50px;
    padding:19px 70px;
    font-weight:600;
    font-size:16px;
    background-color:#E95A08;
    border: none;
    color:white;
    text-align:center;

}
/* flower plants card style end */